﻿body {
    font-family: 'Maven Pro', sans-serif;
    font-size: 18px;
    background: #A2BFAA;
    line-height: 20px;
}

.Main {
    height: 1500px;
    width: 1040px;
    margin: 5px auto;
    background: gray;
    padding: 0;
}


.Header {
    font-family: 'Maven Pro', sans-serif;
    padding: 5px;
}

    .Header img {
        width: 1029px;
        height: 100px;
    }

.Option {
    overflow: hidden;
    width: 1030px;
}

    .Option ul {
        font-size: 13px;
    }

        .Option ul li {
            display: inline;
        }

            .Option ul li a {
                width: 202px;
                background: #FDFD5F;
                margin: 1px;
                display: inline-block;
                float: left;
                border: 1px solid brown;
                text-decoration: none;
                text-align: center;
                padding: 11px 0px;
            }

                .Option ul li a:hover {
                    background: #A2BFAA;
                    font-weight: bold;
                }

.Description {
    width: 1030px;
    height: 819px;
    background: greenyellow;
    margin: 1px 0px;
}

    .Description h2 {
        margin: 2px;
        font-size: 30px;
        font-weight: bold;
        text-decoration: initial;
    }

    .Description p {
        margin: 2px 5px;
        font-size: 15px;
    }

.Header {
    width: 1030px;
    font-weight: bold;
}

.InfoEntry h3 {
    font-size: 35px;
    padding: 5px;
    float: left;
}

.Footer {
    text-align: center;
    padding: 2px 0px;
}
.CountryName {
    float: left;
    font-weight: bold;
    font-size: 20px;
}
.DataTableDiv {
    width: 1000px;
    padding: 20px;
    margin: 5px;
}
.DataTableDiv table {
    height: 200px;
}